body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    max-height:70%;
    overflow:auto
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2d3436;
}

.form-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-container input:focus {
    border-color: #74b9ff;
    outline: none;
    box-shadow: 0 0 5px rgba(116, 185, 255, 0.6);
}

.form-container button {
    width: 100%;
    padding: 12px 15px;
    background: #0984e3;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background: #74b9ff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.form-container button:active {
    transform: scale(0.98);
}

.form-container br {
    display: none; /* Removed default line breaks */
}